
$f-family-basic: 'Product Sans', sans-serif;
$f-family-thin: 'Product Sans Thin', sans-serif;
$f-family-light: 'Product Sans Light', sans-serif;
$f-family-medium: 'Product Sans Medium', sans-serif;
$f-family-black: 'Product Sans Black', sans-serif;
