<nav class="pt-4 pb-4 px-4 lg:px-8 pb-1">
  <div class="container flex justify-between items-center md:mx-auto">
    <!-- Left side of Nav -->
    <div class="flex items-center">
      <img
        src="assets/images/gdg-nairobi-logo.png"
        [routerLink]="['']"
        routerLinkActive="router-link-active"
        alt="GDG Nairobi Logo"
        class="mb-0 w-4/12 lg:w-2/12 lg:h-2/12 cursor-pointer"
      />
    </div>

    <!-- Right side of nav -->

    <div class="hidden flex-row md:flex navigation-links">
      <a
        [routerLink]="['']"
        routerLinkActive="router-link-active"
        class="inline-block p-2 font-bold mr-2 hover:text-gray-500"
        >Home</a
      >
      <a
        [routerLink]="['schedule']"
        routerLinkActive="router-link-active"
        class="inline-block p-2 font-bold mr-2 hover:text-gray-500"
        >Schedule</a
      >
      <a
        [routerLink]="['speakers']"
        routerLinkActive="router-link-active"
        class="inline-block p-2 font-bold mr-2 hover:text-gray-500"
        >Speakers</a
      >

      <a
        [routerLink]="['sponsors']"
        routerLinkActive="router-link-active"
        class="inline-block p-2 font-bold mr-2 hover:text-gray-500"
        >Sponsors</a
      >
    </div>

    <div class="burger">
      <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>

      <mat-menu #menu="matMenu" xPosition="after">
        <button
          mat-menu-item
          [routerLink]="['']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          Home
        </button>
        <button
          *ngIf="isActive"
          mat-menu-item
          [routerLink]="['schedule']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          Schedule
        </button>
        <button
          *ngIf="isActive"
          mat-menu-item
          [routerLink]="['speakers']"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
        >
          Speakers
        </button>
        <a
          mat-menu-item
          class="register"
          href="https://www.youtube.com/c/GDGNairobi"
          target="_blank"
          rel="noopener noreferrer"
          >Sponsors</a
        >
      </mat-menu>
    </div>
  </div>
</nav>
