/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "assets/devfest-styles/typography";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Product Sans", Helvetica, Arial, sans-serif;
  background-color: #F7F7F7;
  //font-family: 'Product Sans Thin', sans-serif;
  //font-family: 'Product Sans Light', sans-serif;
  //font-family: 'Product Sans Medium', sans-serif;
  //font-family: 'Product Sans Black', sans-serif;
}
